#mail-sender{
  padding: 0.5rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  display: flex;
  align-items: center;
}
#mail-sender-details{
  padding-left: 0.5rem;
}
#mail-sender-image{
  height: 64px;
  width: 64px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;
  border-radius: 4px;
  overflow: hidden;
}
