<div id='mail-sender'><!-- TODO: would be cool to color the border of mail-sender based on type e.g. alliance = purple, self = green -->
  <div id='mail-sender-image' [class.corporation]='senderIndex | isInSameCorporation: accountIndex | async'>
    <img [attr.src] ='senderPortrait' />
  </div>
  <div id='mail-sender-details'>
    <h4>{{senderName}}</h4>
    <h6 id='corporation-name'>{{senderCorporation}}</h6><!-- TODO: optional -->
    <h6 id='alliance-name'>{{senderAlliance}}</h6><!-- TODO: optional -->
  </div>
</div>
