li#more-recipients{
  padding: 0px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(http://image.eveonline.com/Character/1_30.jpg);
  z-index: 50;
}
li#new-recipient{
  padding: 0px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(http://image.eveonline.com/Character/1_30.jpg);
  z-index: 25;
}
.recipient{
  display: block;
  padding: 0px;
  margin-right: -10px;
  border: 1px solid grey;
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-size: cover !important;
  float: right; 
  cursor: pointer;
}
.recipient:first-child {
  margin-right: 0px;
}
