<ul id='received-mails'>
  <li *ngFor="let mail of mails" routerLink="/{{account.character.characterId}}/mail/{{mail.index}}">
    <div class='sender-image'>
      <img src="{{mail.sender.portraits.px64x64}}"/>
    </div>
    <div class='mail-info'>
      <h4 class='sender-name'>{{mail.sender.name}}<h6 class='date'>{{mail.timestamp | date}}</h6></h4>
      <p class='mail-topic'>{{mail.subject}}</p>
    </div>
  </li>
  <li class='load-more'><span>... load more ...</span></li><!-- TODO: add loadmore functionality, display when available. When loading change text to loading and disable button until content is loaded -->
</ul>
<app-navigation [buttons]="navigationButtons"></app-navigation>
