<ul id='received-mails'>
  <li *ngFor="let mail of mails" routerLink="/{{account_id}}/mail/{{mail.mail_id}}">
    <div class='sender-image'>
      <img src="https://image.eveonline.com/Character/{{mail.from}}_32.jpg"/>
    </div>
    <div class='mail-info'>
      <h4 class='sender-name'>{{mail.from}}<h6 class='date'>{{mail.timestamp | date}}</h6></h4>
      <p class='mail-topic'>{{mail.subject}}</p>
    </div>
  </li>
</ul>
<button>Load more...</button>
<app-navigation [buttons]="navigationButtons"></app-navigation>
