ul#received-mails{
  padding: 0px;
}
ul#received-mails>li{
  height: auto;
  display: flex;
  list-style: none;
  cursor: pointer;
}
ul#received-mails>li:nth-child(odd){
  background-color: rgba(256,256,256,0.1);
}
ul#received-mails>li:nth-child(even){
  background-color: rgba(256,256,256,0.2);
}
ul#received-mails>li>.sender-image{
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 4px;
  margin: 5px 3px 5px 6px;
}
ul#received-mails>li>.sender-image>.fa-envelope{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 16px;
  border-radius: 4px;
  font-size: 32px;
  background-color: rgba( 256 ,256 ,256, 0.2 );
  color: rgb(240, 240, 256);
}
ul#received-mails>li>.mail-info{
  flex:1 0;
  padding: 5px 6px 5px 3px;
}
ul#received-mails>li>.mail-info>.mail-topic{
  margin-top: 3px;
}
ul#received-mails>li>.mail-info>.sender-name>.date{
  float: right;
}

ul#received-mails>li.load-more{
  height: 4rem;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
