<div id='mail' *ngIf='mail'>
  <app-mail-sender [senderIndex]="mail.sender" [accountIndex]='accountIndex'></app-mail-sender>
  <app-mail-recipients [recipients]='mail.recipients' [accountIndex]='accountIndex'></app-mail-recipients>
  <p id='mail-title'>{{mail.subject}}</p>
  <p id='sent-date'>{{mail.timestamp | date:"dd MMMM, yyyy"}}</p>
  <div id='mail-body' [innerHtml]="mail.body"></div>
  <ul id='mail-actions'>
    <li routerLink="{{replyRoute}}"><i class="fa fa-reply"></i></li>
    <!-- li><i class="fa fa-reply-all"></i></li>
    <li><i class="fa fa-reply fa-flip-horizontal"></i></li -->
    <li (click)="remove()"><i class="fa fa-trash"></i></li>
  </ul>
</div>
<app-navigation [buttons]="navigationButtons"></app-navigation>
