<div id='mail' *ngIf='mail'>

  <app-mail-sender [senderIndex]="mail.sender"></app-mail-sender>

  <!-- TODO: retreive recipient info -->
  <span id='sent-date'>{{mail.timestamp | date:"dd MMMM, yyyy"}}</span>
  <ul id='mail-recipients'>
    <li>Recipients: unimplemented</li>
    <!-- <li *ngFor="let recipient of mail.recipients">{{recipient.recipient_id}}</li> -->
  </ul>
  <p id='mail-title'>Subject: {{mail.subject}}</p>
  <div id='mail-body' [innerHtml]="mail.body"></div>
  <ul id='mail-actions'>
    <li routerLink="{{replyRoute}}"><i class="fa fa-reply"></i></li>
    <!-- li><i class="fa fa-reply-all"></i></li>
    <li><i class="fa fa-reply fa-flip-horizontal"></i></li -->
    <li (click)="remove()"><i class="fa fa-trash"></i></li>
  </ul>
</div>
<app-navigation [buttons]="navigationButtons"></app-navigation>
