<div id='accounts'>
  <div class='account' *ngFor="let account of accounts$ | async" routerLink="/{{account.character.characterId}}/inbox">
    <div class='account-image' [style.background]="account.character.portraits.px128x128 | url">
      <i class='fa fa-envelope' *ngIf='(account.unreadMails !== 0)'>{{account.unreadMails$ | async}}</i>
      <i class='fa fa-times' (click)="account_signout(account); $event.stopPropagation()"></i>
    </div>
    <h6>{{account.character.name$ | async}}</h6>
  </div>
  <div class='account' (click)="account_signup()">
    <div class='account-image new' >
      <i class='fa fa-plus'></i>
    </div>
    <h6>Register a new character</h6>
  </div>
</div>
