#accounts{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.account{
  width: 128px;
  height: 200px;
  border: 2px solid rgb(240, 240, 256);
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
  cursor: pointer;

}
.account-image{
  position: relative;
  width: 128px;
  height: 128px;
}
.account>h6{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(48,48,67); /*rgba(240, 240, 256, 0.2);*/
}
.account-image.new{
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(http://image.eveonline.com/Character/1_128.jpg);
}
.account-image>i.fa-plus{
  font-size: 50px;
  color: rgb(240, 240, 256);
}
.account-image>i.fa-envelope{
  left: 0px;
  bottom: 0px;
  padding: 0.5rem;
  position: absolute;
}
.account-image>i.fa-envelope::before{
  padding-right: 0.5em;
}
.account-image>i.fa-times{
  right: 0px;
  top: 0px;
  padding: 0.5rem;
  position: absolute;
  font-size: 1.2rem;
  color: #990000;
}
