<p>By adding a character you agree to blabalbla</p>
<div id='accounts'>
  <div class='account'>
    <div class='account-image' ></div>
    <h6>Vex Munda</h6>
  </div>
  <div class='account'>
    <div class='account-image' ></div>
    <h6>Vex Munda</h6>
  </div>
  <div class='account'>
    <div class='account-image' ></div>
    <h6>Vex Munda</h6>
  </div>
  <div class='account'>
    <div class='account-image' ></div>
    <h6>Vex Munda the awesome</h6>
  </div>
  <div class='account'>
    <div class='account-image' ></div>
    <h6>Vex Munda the awesome</h6>
  </div>
  <div class='account'>
    <div class='account-image' ></div>
    <h6>Vex Munda the awesome</h6>
  </div>
  <div class='account' (click)="account_signup()">
    <div class='account-image new' >
      <i class='fa fa-plus'></i>
    </div>
    <h6>Register a new character</h6>
  </div>
</div>
