#accounts{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.account{
  width: 128px;
  height: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
  cursor: pointer;

}
.account-image{
  width: 128px;
  height: 128px;
  border: 2px solid rgb(240, 240, 256);
  background-image: url(http://image.eveonline.com/Character/93920413_128.jpg);
}
.account>h6{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.account-image.new{
  width: 128px;
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(http://image.eveonline.com/Character/1_128.jpg);
}
.account-image>i.fa-plus{
  font-size: 50px;
  color: rgb(240, 240, 256);
}
