/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: rgb(0,0,20);
  color: rgb(240, 240, 256);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1{
	font-size: 2rem;
}
h2{
	font-size: 1.8rem;
}
h3{
	font-size: 1.6rem;
}
h4{
	font-size: 1.4rem;
}
h5{
	font-size: 1.2rem;
}
h6{
	font-size: 1rem;
}
li:focus{
	outline: none;
}
input{
  width: 100%;
	box-sizing: border-box;
	font-size: 1.3rem;
	padding: 0.2rem 0.5rem;
	border: 0px;
	margin-bottom: 2px;
	background-color: white;
}
a{
	color: rgb( 0, 255, 255 );
}
textarea{
	width: 100%;
	min-width: 100%;
	box-sizing: border-box;
	border: 0px;
}

/**/
.container {
	margin: 0.5rem;
	padding: 0px;
	border: 2px solid rgba(240, 240, 256, 0.2);
	border-radius: 0.5rem;
	background-color: #1a1a2c;
	overflow: hidden;
}

/**/
.recipient{
  display: block;
  padding: 0px;
  border: 1px solid grey;
  position: relative;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-size: cover !important;
  cursor: pointer;
}
/* highlighting  */
.alliance {
	border-color: purple !important;
}
.corporation {
	border-color: blue !important;
}
.friend {
	border-color: green !important;
}
.self{
	border-color: #DAA520 !important; /* gold */
}
